<!DOCTYPE html>
<html>
<head>
	<title>URL Shortener</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="grid place-content-center gap-y-2 text-xl pt-40">
	<b class="text-center text-5xl">URL Shortener</b><br>
	<form action="/submit" method="post">
		<input  class="border-double border-4 bg-transparent rounded" type="text" name ="url" id="url" placeholder="Write or paste URL..." required></input>
		<button class="bg-slate-400 hover:bg-slate-500 p-1 rounded" value="submit" name="shorten">shorten!</button>
	</form><br>
	<div class="grid grid-col-2 bg-slate-100 pl-2 flex space-y-2 rounded">
		{% for url in urls %}
		<form action="/delete/{{ url.shorten_url }}" method="post" class="flex justify-between bg-slate-200 rounded" name="{{ url.shorten_url }}">
			<input type="hidden" name="_method" value="delete"/>
			<a href="{{ url.url }}">{{ url.shorten_url }}</a>
			<button type="submit" class="bg-slate-400 hover:bg-slate-500 px-8 rounded">delete</button>
		</form>
		{% endfor %}
	</div>
</body>
</html>
